<div class="wrapper">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="text-center col-xs-12 col-sm-6 col-md-4">

      <h4><%= link_to cocktail.name, cocktail_path(cocktail) %></h4>
      <p><%= cl_image_tag cocktail.photo, height: 150, width: 150, crop: :fill, :class =>"rounded" %></p>

    </div>
    <% end %>
  </div>
</div>
